.flex, .flex-inline-item {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-justify-center, .flex-inline-item {
  justify-content: center;
}

.flex-align-center, .flex-inline-item {
  align-items: center;
}

.toolbar {
  display: flex;
  margin-bottom: 30px;
}

.toolbar__draw > button {
  margin-right: 20px;
}

.canvas {
  width: 400px;
  height: 260px;
  border: 1px solid black;
}
